In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [18]:
data = pd.read_csv('main_task.xls')
df = pd.DataFrame(data)

In [15]:
df

      Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0      id_5569,Paris,"['European', 'French', 'Interna...
1      id_1535,Stockholm,,1537.0,4.0,,10.0,"[['Unique...
2      id_352,London,"['Japanese', 'Sushi', 'Asian', ...
3      id_3456,Berlin,,3458.0,5.0,,3.0,"[[], []]",/Re...
4      id_615,Munich,"['German', 'Central European', ...
...                                                  ...
16378  id_1659,Barcelona,"['Japanese', 'Mediterranean...
16379  id_2437,Lyon,['French'],2438.0,3.0,,12.0,"[['D...
16380  id_5032,Madrid,['Spanish'],5035.0,3.5,$$ - $$$...
16381  id_6332,Paris,"['French', 'European']",6333.0,...
16382  id_3035,Paris,"['French', 'Bar', 'European']",...

[16383 rows x 1 columns]

In [19]:
dfclean = pd.DataFrame()

In [25]:
columns = str(df.columns)
columns = columns.split(",")
columns[0] = columns[0][6:]
del columns[-1]